@font-face {
  font-family: 'Milans';
  src: url('../fonts/Milans.woff');
}
html,
body,
main {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
body {
  --color-text: #d05400;
  --color-bg: #0c0c0c;
  --color-link: #6b5537;
  --color-link-hover: #fff;
  --color-content-title-sub: #6b5537;
  color: var(--color-text);
  background-color: var(--color-bg);
  --cursor-stroke: #6b5537;
  --cursor-fill: none;
  --cursor-stroke-width: 1px;
  font-family: bilo, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 13rem);
  position: relative;
  align-items: center;
  justify-content: center;
  max-height: 300px;
}

.title {
  font-family: 'Milans', serif;
  font-weight: 400;
  font-size: 10vw;
  margin: 0;
  line-height: 1;
  position: relative;
}

.grid {
  pointer-events: none;
  position: absolute;
  width: 110%;
  height: 110%;
  top: -5%;
  left: -5%;
  display: grid;
  grid-template-columns: repeat(50, 2%);
  grid-template-rows: repeat(50, 2%);
}

.grid-item {
  position: relative;
}

.grid__item-img {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
}

/* Shorthand grid-area: grid-row-start / grid-column-start / grid-row-end / grid-column-end */

.pos-1 {
  grid-area: 10 / 1 / 26 / 7;
}

.pos-2 {
  grid-area: 1 / 18 / 9 / 27;
}

.pos-3 {
  grid-area: 1 / 36 / 14 / 42;
}

.pos-4 {
  grid-area: 13 / 11 / 32 / 18;
}

.pos-5 {
  grid-area: 17 / 32 / 32 / 38;
}

.pos-6 {
  grid-area: 20 / 46 / 28 / 51;
}

.pos-7 {
  grid-area: 43 / 1 / 51 / 10;
}

.pos-8 {
  grid-area: 38 / 14 / 46 / 22;
}

.pos-9 {
  grid-area: 40 / 26 / 51 / 32;
}

.pos-10 {
  grid-area: 37 / 39 / 48 / 47;
}

@media screen and (min-width: 53em) {
  .content {
    height: 100%;
    max-height: none;
    justify-content: center;
  }
}
